<div class="container">
  <div class="p-grid">

    <div class="p-col-12">
      <h1>Cidades</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Nome da cidade</label>
      <input pInputText type="text" appBackgroudColorInput [cor]="'yellow'">
    </div>

    <div class="p-col-12">
      <button class="botao-pesquisar" pButton type="submit" label="Pesquisar"></button>
    </div>

    <div class="ui-g">
      <div class="ui-g-3">
        <p-table [value]="cidades" styleClass="p-datatable-striped"
                 [responsive]="true" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header">
            <tr>
              <th>Nome da Cidade</th>
              <th class="col-acoes-header">Ação</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cidade>
            <tr>
              <td>
                <span class="p-column-title">Nome da Cidade</span>
                {{ cidade.name }}
              </td>
              <td class="col-acoes">
                <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="p-col-12">
      <a pButton class="botao-novo" label="Nova Cidade"></a>
    </div>

  </div>
</div>

